SUPABASE_URL=your_supabase_project_url
SUPABASE_ANON_KEY=your_publishable_anon_key
SUPABASE_SERVICE_KEY=your_service_role_key_here
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
REDIS_USERNAME=your_redis_username
REDIS_PASSWORD=your_redis_password
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
USER_SERVICE_PORT=3001
QUESTION_SERVICE_PORT=3002
MATCHING_SERVICE_PORT=3003
