PORT=3003
NODE_ENV=development
QUESTION_SERVICE_URL=http://localhost:3002
MATCHING_TIMEOUT_MS=30000
LOG_LEVEL=info

REDIS_USERNAME=your_redis_username
REDIS_PASSWORD=your_redis_password
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
RABBITMQ_URL=amqp://localhost:5672
